:root {
    --cor-fundo-claro: #72899b;
    --cor-fundo-escuro: #526d82;
    --cor-separacao: #c9cace;
    --cor-letra: white;
    --cor-verde: #c1ff72;
    --cor-botao1-inicial: #afbac2;
    --cor-botao2-inicial: #0759d4;
    --cor-botao3-inicial: #0e8a23;

}

.TituloPagLogin {
    color: var(--cor-letra);
    background-color: var(--cor-fundo-escuro);
    font-family: League system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    width: 59.9%;
    height: 100%;
}

.LimeGreen {
    color: var(--cor-verde);
}

.separacao {
    background-color: var(--cor-separacao);
    width: 0.2%;
    height: 100%;
}

.gray {
    background-color: var(--cor-botao1-inicial);
}

.blue {
    background-color: var(--cor-botao2-inicial);
}

.green {
    background-color: var(--cor-botao3-inicial);
}

.AreaLogin {
    width: 39.9%;
    height: 100%;
    background-color: var(--cor-fundo-claro);
}

.CentroTela {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor-fundo-escuro);
    border-radius: 25px;
    width: 200px;
    height: 50px;
}

.CentroText {
    align-content: center;
    justify-content: center;
    color: var(--cor-letra)
}

.FundoTela {
    blackground-color: var(--cor-fundo-escuro);
}

.buttom {
    padding: 32px;
    width: 120px;
}

.centralizer {
    align-content: center;
}
.FundoTela {
    blackground-color:var(--cor-fundo-escuro);
}
.buttom{
margin: 24px;
padding: 32px;
width: 480px;
border-radius: 48px;
display: flex;

}
.buttomtext{
    position: relative;
    left: 48px;
    top: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--cor-letra)
}
.centralizer{
    background-color: var(--cor-fundo-escuro);
    width: 100%;
    height: 100%;
}
.ImgLoginPage{
    width: auto;
    height: 300px;
}
.icon{
    width: 64px;
    height: 64px;
    background-color: var(--cor-letra);
    padding: 8px;
    border-radius: 12px;
}

